﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AnzeigeDerKontakte</title>
    <link href="~/Style/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <div>
        <table border="1">
            <tr>
                <th>
                    Vorname
                </th>
                <th>
                    Nachname
                </th>
                <th>
                    Telefon
                </th>
                <th>
                    Email
                </th>
            </tr>

            @foreach (var kontakt in ViewData["AlleKontakte"] as List<mvcDependencyInjectionKontakt.Models.Kontakt>)
            {
                <tr>
                    <td>
                        @kontakt.Vorname
                    </td>
                    <td>
                        @kontakt.Nachname
                    </td>
                    <td>
                        @kontakt.Telefon
                    </td>
                    <td>
                        @kontakt.Email
                    </td>
                </tr>
            }

        </table> 
    </div>
    <br />
    @Html.ActionLink("Eingabe eines Kontaktes","Index")
</body>
</html>
