﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Style/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <div>
        <form action="/Home/NamenEingegeben" method="post">
            <table border="1">
                <tr>
                    <th>
                        Eingabe
                    </th>
                    <th>
                        Kontaktdaten
                    </th>
                </tr>
                <tr>
                    <td>
                        <label>Vorname: </label>
                    </td>
                    <td>
                        <input type="text" name="vorname" placeholder="Bitte Vornamen eingeben" />
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Nachname: </label>
                    </td>
                    <td>
                        <input type="text" name="nachname" placeholder="Bitte Nachnamen eingeben" />
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Telefon: </label>
                    </td>
                    <td>
                        <input type="text" name="telefon" placeholder="Bitte Telefon eingeben" />
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Email: </label>
                    </td>
                    <td>
                        <input type="text" name="email" placeholder="Bitte Email eingeben" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" />
                    </td>
                    <td>
                        @Html.ActionLink("Anzeige der Kontakte", "AnzeigeDerKontakte")
                    </td>
                </tr>
            </table>
        </form>

    </div>
</body>
</html>
